[submodule "Plugins/ClimbingSystem"]
	path = Plugins/ClimbingSystem
	url = https://github.com/Kaboms/UE-Climbing-System.git
[submodule "Plugins/GameInstanceServices"]
	path = Plugins/GameInstanceServices
	url = https://github.com/Kaboms/UE-ServicesSubsystem.git
[submodule "Plugins/CombatSystem"]
	path = Plugins/CombatSystem
	url = https://github.com/Kaboms/UE-CombatSystem.git
[submodule "Plugins/InventorySystem"]
	path = Plugins/InventorySystem
	url = https://github.com/Kaboms/UE-Inventory-System.git
[submodule "Plugins/UIGoodies"]
	path = Plugins/UIGoodies
	url = https://github.com/Kaboms/UE-UI-Goodies
[submodule "Plugins/ShrekLevels"]
	path = Plugins/ShrekLevels
	url = https://github.com/Kaboms/Shrek-2-Remake-Levels.git
[submodule "Plugins/UnrealToGodot"]
	path = Plugins/UnrealToGodot
	url = https://github.com/mmokhi/UnrealToGodot.git
	branch = no-renderer-fallback
[submodule "Tools/umap_reader/CUE4Parse"]
	path = Tools/umap_reader/CUE4Parse
	url = https://github.com/FabianFG/CUE4Parse.git
	branch = master
	shallow = true
